iOS/xcode-dump.txt
iOS/Hebrew Phonetical Keyboard/Hebrew Phonetical Keyboard.xcodeproj/project.pbxproj
iOS/Hebrew Phonetical Keyboard/.DS_Store
iOS/Hebrew Phonetical Keyboard/Hebrew Phonetical Keyboard.xcodeproj/project.xcworkspace/xcuserdata/moshe.xcuserdatad/UserInterfaceState.xcuserstate
